/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
}

#scroll_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.lamp_container {
  height: 100%;
  position: relative;
  display: inline-block; /*For scrolling.*/
}

.lamp {
  vertical-align: middle;
}

.lamp.lead {
  padding-left: 5vw;
  max-width: 50vw;
}

#header {
  position: fixed;
  /*background-color: gray;*/
  width: 100%;
  /*background: solid;*/
  top: 0px;
  left: 0px;
  z-index: 2;
  /*border-bottom: 3px solid;*/
}

#header h1 {
  display:block;
  text-align: center;
  padding-right: 15px;
  color: black;
  /*font-family: 'Arial Narrow', Arial, sans-serif;*/
  font-family: 'Open Sans';
  color: gray;
  font-size: 36;
}

img.lamp {
  padding-top: 15vh;
  padding-right: 2px;
  max-height: 70%;
}

.nav_container {
  position: fixed;
  bottom:0;
  /*height: 100%;*/
  z-index: 2;
  /*width: 72px;*/
  /*background-color: white;*/
}

table.nav_menu {
  /*border-collapse: collapse;*/
  /*position: fixed;*/
  /*left: 0px;*/
  /*background-color: white;*/
}
table, th, td {
  /*border: 3px solid white;*/
  /*border-bottom: 1px solid gray;*/
}

td.active {
  border: 3px solid gray;
}

.nav_ui {
  width: 64px;
  height: 64px;
}
/*.nav_ui.selected {
  border-color: black;
}*/
/*
@media screen and (min-width: 600px) {
    .lamp.desk {
        max-width: 800px;
        width: 75vw;
    }
}

.lamp.open {
  border-top : 1px dashed;
  border-bottom : 1px dashed;
}
*/
