@font-face {
  font-family: Avenir;
  font-weight: lighter;
  src: url("fonts/avenirnext-ultralight.ttf") format("truetype");
}

/*@font-face {
  font-family: Foo;
  font-weight: normal;
  src: url("fonts/AvenirLTStd-Light.otf") format("opentype");
}
*/
html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

* {
  font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, a {
  /*font-weight: lighter;*/
}

#scroll_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.lamp_container {
  margin-left: 200px;
  position: relative;
  display: inline-block; /*For scrolling.*/
}

a.lamp_name {
  font-size: 36px;
  left: calc(-100px + 0px);
  cursor: pointer;
}

/*
HEADER
*/

#header {
  position: relative; /* this is only to make z-index work with scroll container */
  width: 100%;
  left: 0px;
  z-index: 2;
  /*margin-top: 2vh;*/
}

#header h1 {
  font-size: 42px;
  display: block;
  text-align: center;
  /*cursor: pointer;*/
  margin: 0px;
}

h2 {
  z-index: 3;
  right: 5vw;
}

h2.about a {
  color: black;
  text-decoration: none;
  /*border-bottom: 1px solid black;*/
}
h2.about {
  /*margin-top: 0px;*/
  /*margin-bottom: 0px;*/
}


/*
HEADER
*/

#image_wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 3;
}

#image_wrapper img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#image_wrapper img.wide {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#image_wrapper img.tall {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}​

.model_container {
  width: 500px;
  height: 800px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 100px;
}

.lamp {
  max-width: 100vw;
  padding-right: 50px;
  max-height: 60vh;
  vertical-align: middle;
}

img.lamp {
  cursor: pointer;
}

.nav_container {
  z-index: 2;
}

/*
  Footer.
*/


#footer {
  width: 100%;
  position: absolute;
  /*bottom: 8vh;*/
  left: 0px;
}

table.nav_menu {
  margin: auto;
}

td {
  padding-right: 40px;
}

td:last-of-type {
  padding-right: 0vw;
}

td img {
  cursor: pointer;
  padding: 0px;
  border-bottom: 2px solid transparent;
}

td img:hover {
  border-bottom: 2px solid gray;
}

td.active img {
  border-bottom: 2px solid black;
}

.nav_ui {
  max-width: 30px;
  max-height: 30px;
}

.vertical-text {
  transform:  rotate(-90deg) translateX(-100%);
  transform-origin:left top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}

.hover_underline {
  border-bottom: 1px solid transparent;
}

.hover_underline:hover {
  border-bottom: 1px solid black;
}

a:hover, #footer a:hover {
  border-bottom: 1px solid black;
}

/* ----------- iPhone 5 & 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    td img:hover {
      border-bottom: 2px solid transparent;
    }

    td.active img {
      border-bottom: 2px solid black;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #header h1 {
      font-size: 72px;
    }

    h2.about {
      position: static;
      font-size: 3em;
      /*margin-top: 25px;*/
    }

    #footer a {
      font-size: 40px
    }

    #footer a.joel_link {
      bottom: 60px
    }

    a.lamp_name {
      font-size: 48px;
    }
    .nav_ui {
      max-width: 4vh;
      max-height: 4vh;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #header h1 {
    margin: 0px;
  }
  .nav_ui {
    /*padding-left: 30px;*/
    width: 10vh;
    height: 10vh;
  }
/*  p {
    font-size: 32px;
  }*/

}

