include lamp_content
doctype html
html
    head
        //- title Studio Simon Lamps
        script(src='/libs/jquery.js')
        script(src='/main.js')
        link(rel='stylesheet', href='/style/main.css')

        //- script(src='/libs/three.min.js')
        //- script(src='/libs/OBJLoader.js')
        //- script(src='/libs/tween.js')
        //- script(src='/ModelViewer.js')

    body
        #header
            h1 Simon Lamp Studio


        #scroll_container
            for lamp in lamps
                +lamp_content(lamp)

        #footer
            a.joel_link(target="_blank" href="http://joelsimon.net") By Joel
            .nav_container
                table.nav_menu
                    each lamp, i in lamps
                        - path = '/imgs/lamps/' + lamp.icon
                        td(class = (i == 0 ? 'active' : undefined))
                            img.nav_ui(src=path, data-i=i)
