doctype html
html
  head
    //- title Studio Simon Lamps
    script(src='/libs/jquery.js')
    //- script(src='/libs/jquery.randomize.js')

    //- script(src='/libs/packery.js')
    link(rel='stylesheet', href='/style/main.css')

    script(src='/libs/three.min.js')
    script(src='/libs/OBJLoader.js')
    script(src='/libs/tween.js')

    //- script(src='/ModelViewer.js')
    script(src='/main.js')


  body
    #header
      h1 Simon Lamps

    #lamps
      .lamp.3d.desk(data-name='desk0', data-obj='lamps/desk_0/desk1.obj')
      .lamp.3d.wall(data-name='wall0', data-obj='lamps/wall_0/wall0.obj')
      .lamp.3d.desk(data-name='desk1', data-obj='lamps/desk_1/desk1.obj')
      .lamp.3d.wall(data-name='wall1', data-obj='lamps/wall_1/wall1.obj')
      .lamp.3d.desk(data-name='desk2', data-obj='lamps/desk_2/desk2.obj')
      .lamp.3d.wall(data-name='wall2', data-obj='lamps/wall_2/wall2.obj')
      .lamp.3d.desk(data-name='desk2', data-obj='lamps/desk_2/desk2.obj')
      .lamp.3d.wall(data-name='wall3', data-obj='lamps/wall_3/wall3.obj')

    #lampimages
      for url in ['IMG_3448.jpg', 'IMG_3449.jpg', 'IMG_3454.jpg', 'IMG_3479.jpg', 'IMG_3481.jpg']
        img.lamp.wall0(src='lamps/wall_0/'+url)

      for url in ['IMG_2850.jpg', 'IMG_2853.jpg', '8257258.jpg', 'IMG_2868.JPG']
        img.lamp.desk0(src='lamps/desk_0/'+url)

      for url in [ 'IMG_2740.JPG', 'IMG_2741.JPG', 'IMG_2744.JPG', 'IMG_2745.JPG', 'IMG_2753.JPG' ]
        img.lamp.desk1(src='lamps/desk_1/'+url)
      //- #information
      //-   .content
      //-     h1 Lamp Name
      //-     h2 price: $300
      //-     img.buy(src='imgs/gift.ico')
