doctype html

html
    head
        script(src='/libs/jquery.js')
        link(rel='stylesheet', href='/style/main.css')
    body
        #header(style="text-align: center")
            .horizontally_centered(style="display: inline-block")
                h1 About Simon Lamp Studio

        p.
            a design lineage of lamps that each consist of a box with a curve. The box is the weight and mass while the supporting curve provides the movement and energy. However, the mass’s material is light and airy (Kozo paper) while the movements material is solid (cherry wood). The box is static while the curve is dynamic. The form is abstract while the materials are natural. The balance of these contrasts is what I strive for in each design and what I believe gives them sculptural integrity. I see these lamps as a synthesis of the simplicity and energy of mid century modern furniture with the elegance and naturalistic character of traditional Japanese architecture and materials. Several subclasses of lamps are formed by rotating the box 90 degrees along any axis.
        p.
            The form of the light is a critical issue. Many existing box or rice paper lamps contain one or more halogen bulbs inside. Once on, these visually disrupt the forms and decouple them from the function of the light. The boxes become a cage that entomb a light point creating a nested hierarchy of forms. You cannot look at or appreciate the form without your eye being drawn to the bulb within. LED strips are both more environmentally friendly and break the restriction of circular enclosures for homogenous light. The result is no longer a paper cage for a light, like a firefly in a jar, but a box whose essence is bright.
