doctype html

html
    head
        script(src='/libs/jquery.js')
        //- script(src='/libs/jquery-mousewheel.min.js')
        script(src='/libs/three.min.js')
        script(src='/libs/OBJLoader.js')
        script(src='/libs/tween.js')

        script(src='/src/model_viewer.js')

        link(rel='stylesheet', href='/style/main.css')
        link(rel='stylesheet', href='/style/about.css')
    body

        #header(style="text-align: center;")
            .horizontally_centered(style="display: inline-block")
                h1.hover_underline About

            h2.about: a(href="/index.html") Main

        .section(style="padding-bottom:0px;")
            p(style='text-align:center;').
                A lineage of lamps that each consist of a box with a curve. Three box orientations create desk, table and wall lamps.

        .section.models
            #canvas_container

            //- .column_container
            //-     .column.column-left
            //-         h4 Desk
            //-         p Box = 4" x 10.5" x 2.5"
            //-     .column.column-center
            //-         h4 Wall
            //-         p Box = 8" x 42" x 5"
            //-     .column.column-right
            //-         h4 Table
            //-         p Box = 21" x 2.5" x 8"


        //- .section(style="padding-bottom:0px;")
        //-     h2 Foo
        //-     p.

        //-     .column_container
        //-         .column.column-left
        //-             p Box = 4" x 10.5" x 2.5"
        //-         .column.column-center
        //-             p Box = 8" x 42" x 5"
        //-         .column.column-right
        //-             p Box = 21" x 2.5" x 8"

        .section.materials
            h2 Materials
            .column_container2.materials
                .top
                    .column2.left
                        h4 Cherry Wood
                        img(src='/imgs/cherry.jpg')
                        p Cherry is used on all lamps for its rich pink to mild-red colors that pairs with warm colored papers. Desk lamps use riftsawn cherry veneer. Wall and table lamps use an advanced method of 'Extreme Wood Bending' for directly bending specially treated pieces of solid hardwood.

                    .column2.right
                        h4 Washi Paper
                        img(src='/imgs/washi.jpg')
                        p A type of Washi paper called Okawara was selected for its subtle and warm natural colors as well as balance with cherry wood and white walls. Both handmade and machine made Okawara papers are used. Okawara Paper is made of kozo fibers and sulphite.

                .column2.left
                    h4 LED's
                    img(src='/imgs/leds.jpg')
                    p Strips of white 12V LED's are used in every lamp. LED's are the longest-lasting, most energy-efficient lighting method. Additionally, they can last up to 50,000 hours - 42 times longer than incandescent bulbs and 13 times longer than halogen bulbs.


                .column2.right
                    h4 Acrylic
                    img(src='/imgs/acrylic.jpg')
                    p Polished acrylic boxes, often used in museum display cases, provide the structure and shape of the box. Paper is attached directly to the outside. Polished edges ensure even transparency throughout.

        .section.about
            h2 About
            .derp
                p.
                    This collection began as an exercise in restriction. How many lamps can be formed out of a curve and a box? This has proved to be an endlessly engaging design challenge. Any success of the lamps comes from the balance of many opposites. The box is the mass while the supporting curve provides the movement and energy. The material of the box is is light and airy while the curve is solid. The box is static while the curve is dynamic. The form is abstract while the materials are natural. The simplicity and energy of mid century modern  with the elegance and naturalistic character of traditional.

        .section.who
            h2 Joel
            .column_container.joel_describe
                .left_column
                    p.
                        Joel lives in New York City. He has been working on lamps and sculpture since high-school. He currently works at Rockefeller University. His other interests include figure sculpture, computational and evolutionary design and other miscellaneous projects.
                .right_column
                    img.right_column(src='imgs/lamp_me.jpg')

        #about_footer(style="padding-bottom:50px")
            .links(style="text-align: center;")
                h2: a(href="mailto:joelsmon6@gmail.com?Subject=Lamps" target="_blank") Contact
                h2: a(href="http://joelsimon.net", target="_blank") Other Work By Joel

