include partials/lamp_content
doctype html

html
    head
        title Simon Lamps
        script(src='/libs/jquery.js')
        script(src='/libs/jquery-mousewheel.min.js')
        script(src='/src/main.js')
        script(src='/src/google_analytics.js')
        link(rel='stylesheet', href='/style/index.css')
    body
        #content
            #header(style="text-align: center;")
                .horizontally_centered(style="display: inline-block")
                    h1 Simon Lamps
                    h2.more: a(href="/about.html") more

            #scroll_container
                for lamp in public._data
                    +lamp_content(lamp)

            #footer
                .nav_container
                    table.nav_menu
                        each lamp, i in public._data
                            - path = '/imgs/lamps/' + lamp.icon
                            td(class = (i == 0 ? 'active' : undefined))
                                img.nav_ui(src=path, data-i=i)

            #image_wrapper(style="display:none")
                img()
