mixin lamp_content(lamp)
    .lamp_container
        a.lamp_name.vertical-text(name="#") #{lamp.name}
        .lamp_images
            img.lamp.lead(src='/imgs/lamps/'+lamp.lead)
            - for (var i = 0; i < lamp.images.length; ++i) {
                img.lamp(src='/imgs/lamps/'+lamp.images[i])
            - }
